<div class="home-page-layout">
  <h1>ThoughtBox</h1>
  <h5>A Place To Log Those Thoughts</h5>
  <%= link_to 'Login', login_path, class: "btn home-btn"%>
  <%= link_to 'Sign Up', new_user_path, class: "btn home-btn" %>
</div>
